################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


token-proxy/Token-Proxy/bin/
token-proxy/Token-Proxy/obj/
